
.haik-parts-categories {
  display: inline-block;
  float: none;
  position: static;
  vertical-align: top;
}


.haik-parts-category-detail{
  position: absolute;
  top: auto;
  left: 0;
  background-color: #ddd;
  transition: all .3s ease;
  width: 100%;
  vertical-align: top;
  box-shadow: 1px 1px 3px  rgba(3,3,3,.2);
  z-index: 2;
}

.haik-parts-category-detail.v-enter,
.haik-parts-category-detail.v-leave {
  height: 0;
  opacity: 0;
  padding: 0 10px
}

.haik-parts-category-detail .haik-parts-list {
  padding: 20px 0 0;
}

.haik-parts-box {
  font-family: sans-serif;
  min-height: 60px;
  position: relative;
  box-shadow: 1px 2px 2px  rgba(3,3,3,.2);
  text-align: center;
  cursor: pointer;
}

.haik-parts-caption {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #555;
  background-color: rgba(255,255,255, .95);
  border-style: none;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid rgba(0,0,0,.1);
  font-size: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.haik-parts-arrow-top:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -21px;
  left: 50%;
  width: 0;
  height: 0;
  border-bottom: 20px solid #ddd;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;  
  margin-left: -10px;
  transition: all .3s ease;
  z-index: 3;
}

.haik-parts-arrow-top.v-enter:after,
.haik-parts-arrow-top.v-leave:after {
  content: "";
  border-bottom-width: 0;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  opacity: 0;
}

.haik-parts-icon-wrap {
  display: table;
  width: 100%;
}

.haik-parts-icon {
  font-size: 25px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}  
  
.haik-parts-item .haik-parts-box .haik-parts-caption {
  background-color: rgba(255,255,255, 1);
  font-size: 12px;
}


@media (max-width: 767px) {
  .haik-parts-code textarea {
    max-height: 270px;
  }
}

